@charset "UTF-8";

/*----------------------------------------------------------------------------------- */

/*  Mixins/variables */

/*----------------------------------------------------------------------------------- */
.inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

/*----------------------------------------------------------------------------------- */

/*  Document Setup */

/*----------------------------------------------------------------------------------- */
* {
    outline: 0 !important;
}
html, body {
    width: 100%;
}
html {
    height: 100%;
}
body {
    font-family: Microsoft yahei;
    color: #323232;
    padding-top: 50px;
    min-height: 100%;
    font-size: 12px;
    background: #fff;
}
.main-content {
    padding-left: 0px;
    padding-right: 0px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 15px;
    font-weight: 300;
}
h3 {
    line-height: 1.4em;
}
p {
    margin: 0 0 15px;
}
p.lead {
    font-weight: 300;
}
strong {
    font-weight: 700;
}
a {
    color: #007aff;
    font-size: xx-small;
}
a:hover {
    color: #666666;
    text-decoration: none;
}
ul.no-style {
    list-style: none;
    padding: 0;
    margin-left: 0;
}
.icon-remove{
    visibility: hidden;
    width: 12px;
    height: 12px;
    margin: 0px 8px 0 0;
    background: url(../img/offline.png) no-repeat;
    opacity: 100;
    cursor: pointer;
    transition: opacity .3s ease-in;
}
li {
    /* margin-bottom: 5px; */
}
blockquote {
    margin-bottom: 30px;
}
blockquote p {
    margin-bottom: 10px;
}
blockquote.pull-right {
    text-align: right;
}
dl {
    margin: 0 0 20px;
}
dl dd {
    margin-bottom: 15px;
}
::-moz-selection {
    background: #007aff;
    color: white;
    text-shadow: none;
}
::selection {
    background: #007aff;
    color: white;
    text-shadow: none;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #dddddd;
    background: rgba(0, 0, 0, 0.05);
}


/*----------------------------------------------------------------------------------- */

/*  Header Styles */

/*----------------------------------------------------------------------------------- */
.no-boxshadow .navbar {
    border-bottom: 1px solid #dddddd;
}
.navbar {
    background: #094969;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    padding: 0;
    min-height: 45px;
    height: 50px;
    width: 100%;
    border: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 0px;
}
.navbar .container-fluid.top-bar {
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px 0 20px;
    width: 100%;
    float: left;
}
.navbar .container-fluid.top-bar .navbar-toggle {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 48px;
    height: 32px;
    padding: 8px 12px;
    margin: 0;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.navbar .container-fluid.top-bar .navbar-toggle .icon-bar {
    background-color: #c6c6c6;
}
.navbar .container-fluid.top-bar .logo {
    background: url("../img/csos-logo.png") no-repeat 0 0;
    width: 120px;
    height: 35px;
    float: left;
    text-indent: -9999em;
    margin: 7px 0px 8px 0px;
}
@media (min--moz-device-pixel-ratio:1.3), (-o-min-device-pixel-ratio:2.6 / 2), (-webkit-min-device-pixel-ratio:1.3), (min-device-pixel-ratio:1.3), (min-resolution:1.3dppx) {
    .navbar .container-fluid.top-bar .logo {
        background-image: url("../img/se7en-logo%402x.png");
        background-size: 54px 16px;
    }
}
.navbar .container-fluid.top-bar form {
    margin-top: 6px;
}
.navbar .container-fluid.top-bar form .form-control {
    height: 30px;
    border-color: #e6e6e6;
    box-shadow: none;
    background: white url("../img/icon-search.png") no-repeat center left;
    padding-left: 24px;
    margin-top: 1px;
    width: 155px;
}
@media (min--moz-device-pixel-ratio:1.3), (-o-min-device-pixel-ratio:2.6 / 2), (-webkit-min-device-pixel-ratio:1.3), (min-device-pixel-ratio:1.3), (min-resolution:1.3dppx) {
    .navbar .container-fluid.top-bar form .form-control {
        background-image: url("../img/icon-search%402x.png");
        background-size: 18px 12px;
    }
}
.navbar .container-fluid.top-bar form .form-control:focus {
    border-color: #007aff;
}
.navbar .container-fluid.top-bar .nav {
    height: 100%;
    position: relative;
    z-index: 100;
}
.navbar .container-fluid.top-bar .nav > li {
    height: 100%;
    margin-right: 5px;
    float: left;
}
.navbar .container-fluid.top-bar .nav > li > a {
    display: block;
    height: 45px;
    line-height: 25px;
    padding: 8px 10px 9px 30px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar .container-fluid.top-bar .nav > li > a:hover {
    background: #f8f8f8;
    background: rgba(0, 0, 0, 0.04);
}
.navbar .container-fluid.top-bar .nav > li > a > span {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #999999;
}
.btn-diy{
    margin-top: 8px;
    margin-right: 10px;
    background-color: #2C72A6;
    color: #fff;
    font-size: 13px;
}
.class-subtotal{
    color: #fff;
    margin-top: 15px;
    margin-right: 40px;
    font-size: 16px;
    cursor: pointer;
}
.user-status{
    color: #fff;
    margin-top: 13px;
    margin-left: 30px !important;
    font-size: 15px;
    height: 25px;
}
.user-head{
    color: #fff;
    padding: 8px 10px 9px 1px !important;
}
.user-img{
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

/*----------------------------------------------------------------------------------- */

/*  Widget-Container */

/*----------------------------------------------------------------------------------- */
.widget-container {
    min-height: 320px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.widget-container.fluid-height {
    height: auto;
    min-height: 0;
}
.widget-container.small {
    min-height: 120px;
    height: 155px;
}
.widget-container.gallery {
    min-height: 400px;
}
.widget-container .heading {
    background: rgba(255, 255, 255, 0.94);
    height: 50px;
    padding: 15px 15px;
    color: #007aff;
    font-size: 15px;
    width: 100%;
    font-weight: 400;
    margin: 0;
}
.widget-container .heading [class^="icon-"], .widget-container .heading [class*="icon-"] {
    margin-right: 10px;
    font-size: 14px;
}
.widget-container .heading [class^="icon-"].pull-right, .widget-container .heading [class*="icon-"].pull-right {
    margin-right: 0px;
    margin-left: 15px;
    opacity: 0.35;
    font-size: 1.1em;
}
.widget-container .heading [class^="icon-"]:hover, .widget-container .heading [class*="icon-"]:hover {
    cursor: pointer;
    opacity: 1;
}
.widget-container .tabs {
    background: whitesmoke;
    border-bottom: 1px solid #dddddd;
}
.widget-container .widget-content {
    width: 100%;
}
.widget-container.scrollable {
    position: relative;
    height: 400px;
    padding-top: 50px;
}
.widget-container.scrollable.chat-home {
    height: 427px;
}
.widget-container.scrollable .heading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.widget-container.scrollable .shadow {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}
.widget-container.scrollable .widget-content {
    height: 100%;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.padded {
    padding: 15px;
}
.shade{
    background-color:Gray;
    left:0px;
    opacity:0.5;
    position:absolute;
    top:0px;
    z-index:99999;
    filter:alpha(opacity=50);
}

/*----------------------------------------------------------------------------------- */

/*  404 Page */

/*----------------------------------------------------------------------------------- */
body.fourofour {
    background-color: #007aff;
    padding: 0;
    position: relative;
}
body.fourofour .fourofour-container {
    max-width: 400px;
    width: 400px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -155px 0 0 -155px;
}
body.fourofour .fourofour-container h1 {
    font-size: 155px;
    font-weight: 100;
    text-shadow: #0062cc 1px 1px, #0062cc 2px 2px, #0062cc 3px 3px, #0062cd 4px 4px, #0062cd 5px 5px, #0062cd 6px 6px, #0062cd 7px 7px, #0062ce 8px 8px, #0063ce 9px 9px, #0063ce 10px 10px, #0063ce 11px 11px, #0063cf 12px 12px, #0063cf 13px 13px, #0063cf 14px 14px, #0063cf 15px 15px, #0063d0 16px 16px, #0064d0 17px 17px, #0064d0 18px 18px, #0064d0 19px 19px, #0064d1 20px 20px, #0064d1 21px 21px, #0064d1 22px 22px, #0064d1 23px 23px, #0064d2 24px 24px, #0065d2 25px 25px, #0065d2 26px 26px, #0065d2 27px 27px, #0065d3 28px 28px, #0065d3 29px 29px, #0065d3 30px 30px, #0065d3 31px 31px, #0065d4 32px 32px, #0065d4 33px 33px, #0066d4 34px 34px, #0066d4 35px 35px, #0066d5 36px 36px, #0066d5 37px 37px, #0066d5 38px 38px, #0066d5 39px 39px, #0066d6 40px 40px, #0066d6 41px 41px, #0067d6 42px 42px, #0067d6 43px 43px, #0067d7 44px 44px, #0067d7 45px 45px, #0067d7 46px 46px, #0067d7 47px 47px, #0067d8 48px 48px, #0067d8 49px 49px, #0068d8 50px 50px, #0068d9 51px 51px, #0068d9 52px 52px, #0068d9 53px 53px, #0068d9 54px 54px, #0068da 55px 55px, #0068da 56px 56px, #0068da 57px 57px, #0068da 58px 58px, #0069db 59px 59px, #0069db 60px 60px, #0069db 61px 61px, #0069db 62px 62px, #0069dc 63px 63px, #0069dc 64px 64px, #0069dc 65px 65px, #0069dc 66px 66px, #006add 67px 67px, #006add 68px 68px, #006add 69px 69px, #006add 70px 70px, #006ade 71px 71px, #006ade 72px 72px, #006ade 73px 73px, #006ade 74px 74px, #006bdf 75px 75px, #006bdf 76px 76px, #006bdf 77px 77px, #006bdf 78px 78px, #006be0 79px 79px, #006be0 80px 80px, #006be0 81px 81px, #006be0 82px 82px, #006be1 83px 83px, #006ce1 84px 84px, #006ce1 85px 85px, #006ce1 86px 86px, #006ce2 87px 87px, #006ce2 88px 88px, #006ce2 89px 89px, #006ce2 90px 90px, #006ce3 91px 91px, #006de3 92px 92px, #006de3 93px 93px, #006de3 94px 94px, #006de4 95px 95px, #006de4 96px 96px, #006de4 97px 97px, #006de4 98px 98px, #006de5 99px 99px, #006ee5 100px 100px, #006ee5 101px 101px, #006ee6 102px 102px, #006ee6 103px 103px, #006ee6 104px 104px, #006ee6 105px 105px, #006ee7 106px 106px, #006ee7 107px 107px, #006ee7 108px 108px, #006fe7 109px 109px, #006fe8 110px 110px, #006fe8 111px 111px, #006fe8 112px 112px, #006fe8 113px 113px, #006fe9 114px 114px, #006fe9 115px 115px, #006fe9 116px 116px, #0070e9 117px 117px, #0070ea 118px 118px, #0070ea 119px 119px, #0070ea 120px 120px, #0070ea 121px 121px, #0070eb 122px 122px, #0070eb 123px 123px, #0070eb 124px 124px, #0071eb 125px 125px, #0071ec 126px 126px, #0071ec 127px 127px, #0071ec 128px 128px, #0071ec 129px 129px, #0071ed 130px 130px, #0071ed 131px 131px, #0071ed 132px 132px, #0071ed 133px 133px, #0072ee 134px 134px, #0072ee 135px 135px, #0072ee 136px 136px, #0072ee 137px 137px, #0072ef 138px 138px, #0072ef 139px 139px, #0072ef 140px 140px, #0072ef 141px 141px, #0073f0 142px 142px, #0073f0 143px 143px, #0073f0 144px 144px, #0073f0 145px 145px, #0073f1 146px 146px, #0073f1 147px 147px, #0073f1 148px 148px, #0073f1 149px 149px, #0074f2 150px 150px, #0074f2 151px 151px, #0074f2 152px 152px, #0074f3 153px 153px, #0074f3 154px 154px, #0074f3 155px 155px, #0074f3 156px 156px, #0074f4 157px 157px, #0074f4 158px 158px, #0075f4 159px 159px, #0075f4 155px 155px, #0075f5 161px 161px, #0075f5 162px 162px, #0075f5 163px 163px, #0075f5 164px 164px, #0075f6 165px 165px, #0075f6 166px 166px, #0076f6 167px 167px, #0076f6 168px 168px, #0076f7 169px 169px, #0076f7 170px 170px, #0076f7 171px 171px, #0076f7 172px 172px, #0076f8 173px 173px, #0076f8 174px 174px, #0077f8 175px 175px, #0077f8 176px 176px, #0077f9 177px 177px, #0077f9 178px 178px, #0077f9 179px 179px, #0077f9 155px 155px, #0077fa 181px 181px, #0077fa 182px 182px, #0077fa 183px 183px, #0078fa 184px 184px, #0078fb 185px 185px, #0078fb 186px 186px, #0078fb 187px 187px, #0078fb 188px 188px, #0078fc 189px 189px, #0078fc 190px 190px, #0078fc 191px 191px, #0079fc 192px 192px, #0079fd 193px 193px, #0079fd 194px 194px, #0079fd 195px 195px, #0079fd 196px 196px, #0079fe 197px 197px, #0079fe 198px 198px, #0079fe 199px 199px, #007aff 155px 155px;
}
body.fourofour .fourofour-container h2 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 40px;
}
body.fourofour .fourofour-container a.btn {
    border-color: white;
    color: white;
}
body.fourofour .fourofour-container a.btn:hover {
    color: #007aff;
    background-color: white;
}


/*----------------------------------------------------------------------------------- */

/*  Chat widget */

/*----------------------------------------------------------------------------------- */
.chat {
    padding-bottom: 52px;
}
.chat .widget-content {
    padding-right: 20px;
    background-color: white;
}
.chat .widget-content .scrollbar-path-vertical {
    bottom: 56px !important;
}
.chat .widget-content ul {
    list-style: none;
    padding: 0;
}
.chat .widget-content ul li {
    margin-bottom: 14px;
    padding-left: 40px;
    padding-right: 80px;
    position: relative;
}
.chat .widget-content ul li:last-child {
    margin-bottom: 0;
}
.chat .widget-content ul li img {
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: 50%;
}
.chat .widget-content ul li .bubble {
    padding: 12px 15px;
    background: #e5e5ea;
    border-radius: 15px;
    position: relative;
}
.chat .widget-content ul li .bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    background: url("../img/chat-left.png") left top no-repeat;
    width: 13px;
    height: 13px;
    display: block;
}
@media (min--moz-device-pixel-ratio:1.3), (-o-min-device-pixel-ratio:2.6 / 2), (-webkit-min-device-pixel-ratio:1.3), (min-device-pixel-ratio:1.3), (min-resolution:1.3dppx) {
    .chat .widget-content ul li .bubble:after {
        background-image: url("../img/chat-left%402x.png");
        background-size: 13px 13px;
    }
}
.chat .widget-content ul li .bubble .user-name {
    font-size: 1.1em;
    margin-bottom: 8px;
    display: inline-block;
}
.chat .widget-content ul li .bubble p.message {
    font-size: 0.95em;
    margin-bottom: 12px;
    color: #333333;
}
.chat .widget-content ul li .bubble .time {
    font-size: 0.8em;
    color: #888888;
    margin-bottom: 0;
}
.chat .widget-content ul li.current-user {
    padding-right: 40px;
    padding-left: 80px;
}
.chat .widget-content ul li.current-user img {
    right: 0;
    left: auto;
}
.chat .widget-content ul li.current-user .bubble {
    background: #178efe;
}
.chat .widget-content ul li.current-user .bubble:after {
    background: url("../img/chat-right.png") left top no-repeat;
    left: auto;
    right: -6px;
}
@media (min--moz-device-pixel-ratio:1.3), (-o-min-device-pixel-ratio:2.6 / 2), (-webkit-min-device-pixel-ratio:1.3), (min-device-pixel-ratio:1.3), (min-resolution:1.3dppx) {
    .chat .widget-content ul li.current-user .bubble:after {
        background-image: url("../img/chat-right%402x.png");
        background-size: 13px 13px;
    }
}
.chat .widget-content ul li.current-user p, .chat .widget-content ul li.current-user a {
    color: white !important;
}
.chat .widget-content ul li.current-user .time {
    opacity: 0.75;
}
.chat .post-message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    padding: 8px 60px 8px 8px;
    background: #f2f2f2;
    border-top: 1px solid #cccccc;
}
.chat .post-message input[type="text"] {
    width: 100%;
    height: 100%;
}
.chat .post-message input[type="submit"] {
    position: absolute;
    top: 12px;
    right: 10px;
    margin: 0;
    border: 0;
    background: transparent;
    color: #007aff;
    font-weight: 600;
    font-size: 14px;
}
.widget-container.chat-page {
    height: 700px;
    padding: 0 0 0px 155px;
    position: relative;
}
.contact-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #dddddd;
    background-color: #f2f2f2;
    width: 170px;
}
.contact-list .heading {
    background-color: transparent;
    color: #777777;
    border-bottom: 1px solid #d6d6d6;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 14px;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.contact-list .heading i {
    margin-top: 4px;
    font-size: 1em;
}
.contact-list ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.contact-list ul li {
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
}
.contact-list ul li a {
    display: block;
    position: relative;
    left: 0px;
    width: 170px;
    padding-left: 15px;
    padding: 4px 0 4px 4px;
    color: #666666;
    cursor: pointer;
    z-index: 999;
}
.contact-list ul li a:hover {
    background-color: #DFEDF7;
}
.contact-list .online-user li a:hover i:first-of-type{
    visibility: visible;
}
.contact-active {
    background-color: #C3E1F7;
}
.contact-list ul li img {
    border-radius: 50%;
    margin-right: 1px;
}
.contact-list ul li p {
    overflow: hidden;
    width: 82px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 !important;
    display: inline-block;
}
.user-time {
    font-weight: bold;
    position: absolute;
    font-size: 15px;
    top: 10px;
    right: 22px;
    color: #F54C4C;
}
.online-user{
    height:30%;
    padding-top: 5px;
}
.offline-bar{
    color: #4A4A4A;
    border-bottom: 1px solid #CFCDCD;
    font-size: 15px;
    padding: 4px 0 4px 4px;
}
.offline-user{
    height:60%;
    padding-top: 5px;
}
.feeback-user{
	height:10%;
    padding-top: 5px;
}

.widget-container.chat-page > .heading {
    position: relative !important;
}
.widget-container.chat-page .post-message {
    position: relative;
}
.app-content {
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
    overflow: hidden;
}
.app-left {
    padding-left: 1px;
    padding-right: 1px;
    height: 100%;
    width: 170px;
    float: left;
}
.app-sub-content{
    margin-left: 170px;
}
.app-chat {
    padding-left: 1px;
    padding-right: 1px;
}
.app-right {
    padding-left: 1px;
    padding-right: 0px;
    height: 100%;
    position: relative;
    border-left: 2px solid #ddd;
}
.app-plugins {
    background:white;
    height: 100%;
}

/*----------------------------------------------------------------------------------- */

/*  Upgrade */

/*----------------------------------------------------------------------------------- */
.radioCont{
    display:inline;
    overflow:hidden;
}
.pcCg{
    height:26px;
    z-index:5;
}
.pcCont{
    display:inline;
    margin-left: 25px;
    position: relative;
}
.pcText{
    width:80%;
}
.pcTree{
    position: absolute;
    bottom: 19px;
    left: 0px;
    width: 100%;
    z-index: 99999;
}
.pcTreeUl{
    position: absolute;
    bottom: 0px;
    max-height: 250px;
}
.btnCont{
    color:white;
    padding:6px 18px;
    margin:6px;
}
.btnArchived{
    background-color:#007dda;
}
.btnUpgrade{
    background-color:#4cae4c;
}
.app-upgrade{
    position: absolute;
    background: #fff;
    height: 180px;
    width: 100%;
    border-top: 2px solid #ddd;
    bottom:0;
    padding: 4px 0 0 10px;
}
.smallTd{
	width:10%;
}

.largeTd{
	width:35%;
	font-weight:bold
}
.span {
    color: red;
    padding: 5px 3px;
}
.problemDesc-label {
    padding-left: 0px;
    padding-right: 0px;
    width: 67px;
}
.problemDesc-div {
    padding-left: 0px;
    padding-right: 0px;
}
.problemDesc-text{
    margin-left: 20px;
}
.errorBor {
    border: 1px solid red;
}
.form-control-desc {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*----------------------------------------------------------------------------------- */

/*  plugins */

/*----------------------------------------------------------------------------------- */
.iframe-style{
    height: 95%;
    width: 100%;
    overflow: auto;
}
.nav-background{
    background: #F9F9F9;
}
.plugin-style{
    position: absolute;
    top: 0px;
    right: 5px;
    left: 0px;
    padding: 1px 0 10px 0px;
    overflow-y: auto;
}

/*----------------------------------------------------------------------------------- */

/*  bootbox */

/*----------------------------------------------------------------------------------- */
.bootbox-body{
    font-size: 18px;
    text-align: center;
}
.tips {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 100;
    margin: -30px 0 0 -100px;
    width: 300px;
    height: 61px;
    text-align: center;
    font: 18px/50px "微软雅黑","黑体";
    color: #fff;
    background: url(../img/popwin_tips.png);
    display:none;
}


.am-fade.aside-backdrop, .am-fade.modal-backdrop {
    background-color: rgba(0,0,0,.5);
}

.aside.right {
    right: 0;
    left: auto;
}
[tabindex="-1"] {
    outline: 0;
}
.aside {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1049;
    overflow: auto;
    min-width: 320px;
    background: #fff;
}
.am-fade-and-slide-right {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
*, :after, :before {
    box-sizing: border-box;
}

.btn-disabled{
    background-color: #B6C3B6;
}
