#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>
    <hr>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data', class:'form-horizontal'}
        #{crud.form /}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
			<a href="@{list()}" class="btn">&{'crud.cancel', type.modelName}</a>
        </div>
    #{/form}
    </div>

</div>