#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<h2>&{'crud.list.title', type.name}</h2>

<div class="row">
  <div class="span5">
    	#{crud.search fields: searchFieldArr /}
  </div>
  <div class="span4">
    <a href="@{blank()}" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i> &{'crud.add', type.modelName}</a>
  </div>
</div>

#{crud.table fields: listFieldArr}
	<!-- liusu 解析action字段 -->
	#{crud.custom 'action'} 
		<div style="height:30px;width:100px;">
	        <a href="@{show(object._key())}" class="btn btn-info btn-small" style="float:left;"><i class="glyphicon glyphicon-edit"></i></a>
	        #{form @delete(object._key())}
		        <button class="btn btn-danger btn-small" style="margin-left:5px;"><i class="glyphicon glyphicon-remove"></i></button>
		    #{/form}
	    </div>
    #{/crud.custom}
    
#{/crud.table}

#{crud.pagination /}


