%{ if(isNew){ }%
	#{extends 'custom/index.html' /}
%{ }else{ }%
	#{extends 'CRUD/layout.html' /}
%{ } }%
#{set title:messages.get('crud.list.title', type.name) /}

<!-- <h2>&{'crud.list.title', type.name}</h2> -->

<div class="row">
  <div class="span5">
    	#{crud.search fields: searchFieldArr /}
  </div>
  <div class="span4" style="padding:15px;">
	  <div class="nav navbar-nav navbar-right">
	  	<ul class="btn btn-default" style="list-style: none;">
	  	  <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          	<span class="glyphicon glyphicon-save"></span> 导出 <span class="caret"></span>
	          </a>
	          <ul class="dropdown-menu" role="menu">
		      		<li><a href="javascript:void(0);" onclick="exportAllPageData('@{exportExcel()}')">导出全部</a></li>
			        <li><a href="javascript:void(0);" onclick="exportCurrentPageData('@{exportExcel()}')">导出当前页</a></li>
			        <li class="divider"></li>
			        <li><a href="#">未完待续</a></li>
		    	</ul>
	        </li>
        </ul>
        
	</div>
      %{ if(outerTableAction!=null){ }%
	        %{ outerTableAction.entrySet().each(){ }%
					%{ if(it.getKey()=='add'){}%
		    			<a href="@{blank()}" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-plus"></i> &{'crud.add', type.modelName}</a>
					%{ }else{ }%
						<a href="%{out.print(it.getValue());}%" class="btn btn-default" style="margin-left:5px;float:left;">%{ out.print(it.getKey()); }%</a>
					%{ }}%
		    %{ } }%
	  %{ } }%
  </div>
</div>

#{crud.table fields: listFieldArr}
	<!-- liusu 解析action字段 -->
	#{crud.custom 'innerTableAction'} 
		%{ if(innerTableAction!=null){ }%
			    %{ innerTableAction.entrySet().each(){ }%
						%{ if(it.getKey()=='编辑'){}%
					        <a href="@{show(object._key())}" class="btn btn-info btn-small" style="margin-left:5px;float:left;"><i class="glyphicon glyphicon-edit"></i></a>
						%{ }else if(it.getKey()=='删除'){}%
					        #{form @delete(object._key())}
						        <button class="btn btn-danger btn-small" style="margin-left:5px;float:left;" ><i class="glyphicon glyphicon-remove"></i></button>
						    #{/form}
						%{ }else{ }%
							<a href="%{out.print(it.getValue());}%" class="btn btn-default" style="margin-left:5px;float:left;">%{ out.print(it.getKey()); }%</a>
						%{ }}%
			    %{ } }%
	    %{ } }%
	    </div>
    #{/crud.custom}
    
    
#{/crud.table}

#{crud.pagination /}

    <!-- #{crud.custom 'TActions'}
        ${object.TActions.TResource.name}
    	${object.TActions.TAction.name}
    	${object.TActions.TAction.title}
    #{/crud.custom} -->
<script>
	function exportAllPageData(url){
		var formData = $('form').eq(0).serialize();
		location.href= url + "?"+ formData;
	}
	
	function exportCurrentPageData(url){
		var formData = $('form').eq(0).serialize();
		formData +='&page='+ getQuery(page);
		alert(formData);
		// location.href= url + "?"+ formData;
	}
	
	function getQuery(para){ 
		var reg = new RegExp("(^|&)"+para +"=([^&]*)(&|$)"); 
		var r = window.location.search.substr(1).match(reg); 
		if(r!=null){ 
		return unescape(r[2]); 
		} 
		return null; 
	} 
</script>