%{ if(isNew){ }%
	#{extends 'custom/index.html' /}
%{ }else{ }%
	#{extends 'CRUD/layout.html' /}
%{ } }%
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

	<span style="font-weight:bold;font-size:20px;" id="crudBlankTitle">&{'crud.show.title', type.modelName}</span>
    <hr style="border:1px solid #ccc;">
    <!-- <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
    <hr> -->

    
    #{form action:@save(object._key()), enctype:'multipart/form-data', class:'form-inline'}
        #{crud.form /}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" class="btn btn-primary" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <a href="@{list()}" class="btn">&{'crud.cancel', type.modelName}</a>
   		</div>

   
    #{/form}

</div>