<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Dashboard <small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">

    <div id="grid1" ui-grid="gridOptions" ui-grid-tree-view class="grid"></div>
    
	<!-- You can use a custom html template with the `data-template` attr -->
	<!-- <button type="button" class="btn btn-lg btn-danger" data-template-url="views/aside.demo.tpl.html" data-placement="right" data-animation="am-slide-left" data-container="body" ng-click="aside()">Custom aside
	  <br>
	  <small>(using data-template)</small>
	</button> -->
	
	

</section>
<!-- /.content -->

