#{extends 'custom/index.html' /}

<div class="content-wrapper" style="min-height: 592px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Dashboard <small>Control panel</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content body">

		welcome...welcome...welcome...welcome...welcome...welcome...</section>
	<!-- /.content -->
</div>