#{field 'object.' + _name}
<div class="col-md-2">
    <label for="${field.id}" class="control-label">
        &{_fullFieldName}
    </label>
    </div>
     <div class="col-md-4">
	    <input id="${field.id}" class="${field.errorClass}" type="checkbox" name="${field.name}" value="true" ${(params[field.name] ? params.getAll(field.name)[0] == 'true' : _value) ? 'checked="true"'.raw() : ''} />
	    <input type="hidden" name="${field.name}" value="false" />
	    #{ifError field.name}
	        <span class="error">${field.error.raw()}</span>
	    #{/ifError}
	 </div>
#{/field}
