#{field 'object.' + _name}
<div class="col-md-2">
    <label for="${field.id}" class="control-label">
        &{_fullFieldName}
    </label>
    </div>
     <div class="col-md-4">
	    <input id="${field.id}" class="form-control" type="file" name="${field.name}" />
	    #{ifError field.name}
	        <span class="error">${field.error.raw()}</span>
	    #{/ifError}
	    #{if _value && _value.exists() && _id}
	        <a class="currentAttachment" href="@{attachment(_id, _name)}" target="_blank">Download current file (${_value.length().formatSize()})</a>
	        <span class="removeAttachment"><input type="checkbox" name="${field.name}_delete_" value="true" /> (delete)</span>
	    #{/if}
	</div>
#{/field}
