#{field 'object.' + _name}
    <label for="${field.id}" class="col-sm-2 control-label">
        &{_name}
    </label>
    <div class="col-sm-3">
	    <input id="${field.id}" type="text" name="${field.name}" class="form-control" value="${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}" size="20" />
	    #{ifError field.name}
	        <span class="error">${field.error.raw()}</span>
	    #{/ifError}
    </div>
#{/field}
